.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.table-title {
  font-size: 24px;
  margin: 0;
}

.row .button {
  margin: 0;
}

.ant-table-wrapper {
  margin-bottom: 32px;
}